
NODE_ENV=dev

USER_MONGO_URL=mongodb+srv://user:123@cluster0.w5mqesn.mongodb.net/user-service?appName=Cluster0
GAME_MONGO_URL=mongodb+srv://user:123@cluster0.w5mqesn.mongodb.net/game-service?appName=Cluster0
BLOG_MONGO_URL=mongodb+srv://user:123@cluster0.w5mqesn.mongodb.net/blog-service?appName=Cluster0
PAYMENT_MONGO_URL=mongodb+srv://user:123@cluster0.w5mqesn.mongodb.net/payment-service?appName=Cluster0

JWT_SECRET_KEY=db056018b8c3dcddaefff0c877fb42e5
JWT_REFRESH_TOKEN_SECRET=c14c3c6bb3d822fac5e208aaa1475209

GOOGLE_CLIENT_ID=920522402319-jpdebim5g5umfq2a7fcjam952rj8d73g.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

CLOUDINARY_CLOUD_NAME=dzy776llp
CLOUDINARY_API_KEY=116113546484793
CLOUDINARY_API_SECRET=N5zvwYgBhOm15pWc3C65EdFVfDo
    
VNPAY_TMN_CODE=HSKALWPC
VNPAY_SECURE_SECRET=B74SGNIKAS5OHIGESOPWB5620HBZSM5W
VNPAY_RETURN_URL=http://localhost:3000/payments/vnpay/return

FRONTEND_URL=http://localhost:5173

GATEWAY_SERVICE_PORT=3000
AUTH_SERVICE_PORT=3001
USER_SERVICE_PORT=3002
